@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


.navBar{
    padding: 15px 20px;
    background-color: #1167b1;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navBar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar__container h1{
    color: #d0efff;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.searchBar input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 15px;
    width: 300px;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.searchBar button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button{
    outline: none;
    border: none;
    padding: 10px;
    background-color: #03254c;
    color: #fff;
    cursor: pointer;
}

.loginBtn button {
    margin-left: 10px;
    border-radius: 5px;
  }

.empty{
    text-align: center;
    font-size: 30px;
}


.main__content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.recipe__card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.recipe__card__content:hover{
    transform: scale(1.04);
}

.recipe__title{
    color: black;
}
.recipe__title:hover{
  color: #1167b1;
}

.no-visited-link:visited {
    color: black;
}

.recipePage__content{
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         margin-top: 10px;
        text-align: center;
}

.info__box{
    background-color: #d0efff;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px ;
}

.ingridients__info,.calories__info,.type__info{
    border-right: 1px solid rgba(181, 183, 186, 0.5);
}

.info__box ul{
    list-style:circle;
}

.login__form{
    width: 400px;
    height: 450px;
    background-color: #d0efff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 481px) {
    .navBar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
    }

    .navBar__container{
        position: relative;
        display: inline-block;
    }

    .navBar h1{
          font-size: 26px;
          margin-top: 5px;
    }
    .loginBtn{
        margin: 5px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .loginBtn button{
        padding: 5px;
    }

    .searchBar{
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .main__content {
            padding-top: 150px;
           
    }

    .recipe__card{
        grid-template-columns: 1fr;
    }

    .recipePage__content{
        flex-direction: column;
        
    }

    .info__box {
            margin: 50px 30px 0px;
            grid-template-columns: 1fr;
    }

    .recipePage__content h3{
        margin-top: 20px;
    }

        .ingridients__info,
        .calories__info,
        .type__info {
            border-bottom: 1px solid rgba(181, 183, 186, 0.5);
            border-right: none;
            padding-bottom: 20px;
        }
    
}

@media only screen and (min-width: 500px) and (max-width: 900px){
      
    .recipe__card {
            grid-template-columns: repeat(2,1fr);
            gap: 100px;
        }
    .info__box {
            grid-template-columns: repeat(2,1fr);
            gap: 0px;
            margin: 50px 50px 0px;
        }
        .ingridients__info,
        .calories__info,
        .type__info {
            border-right: none;
        }
        .ingridients__info,
        .calories__info{
            border-bottom: 1px solid rgba(181, 183, 186, 0.5);
        }
}